.git
.next
.pnpm-store
.turbo
dist
node_modules
**/dist
**/node_modules
**/*.tsbuildinfo

logs
api/tmp
api/*.log
docker/dumps

.env
.env.*
**/.env
**/.env.*
!.env.example
!docker/.env.example

npm-debug.log
pnpm-debug.log

public/cesium
